$--color-primary: #2563eb;
$--color-danger: #dc2626;
$--color-success: #059669;
$--color-text-regular: #000000;
$--color-text-placeholder: #9ca3af;

$--border-color-base: #eaeff5;
$--border-color-light: #f1f5f9;
$--border-color-lighter: #f8fafc;

$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import '~element-ui/packages/theme-chalk/src/index';
