DB_NAME = 'db_name'
DB_USERNAME = 'username'
DB_PASSWORD = 'password'
DB_DIALECT = 'mariadb'
DB_TIMEZONE = 'Asia/Jakarta'

BACKEND_HOST = '0.0.0.0'
BACKEND_PORT = 5001
SESSION_KEY = 'session-key'
USER_ROLES = ['', 'user', 'admin'],
